//compress: true

/*google foonts*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,600,600i,700,700i|Kanit:400,600,700&display=swap&subset=cyrillic,cyrillic-ext');
html{
  font-size: 15px;
}
body{
  font-family: @plex;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: @black;
  margin: 0;
  padding: 0;
  background-color: @white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
/*===================*/
/*helpers*/
@import "helpers.less";
/*vars*/
@import "vars.less";
/*===================*/
/*vendor*/
/*1. normalize css https://necolas.github.io/normalize.css/ */
@import "vendor/normalize.less";
/*2. waves__efect https://materializecss.com/waves.html */
@import "vendor/waves.less";
/*. slick https://kenwheeler.github.io/slick/ */
@import "vendor/slick.less";
/*===================*/
/*main style block*/
/*1. container*/
@import "block/container.less";
/*2. header*/
@import "block/header.less";
/*3. nav*/
@import "block/nav.less";
/*4. intro*/
@import "block/intro.less";
/*5. btn*/
@import "block/btn.less";
/*6. about*/
@import "block/about.less";
/*7. about*/
@import "block/about__address.less";
/*8. about__address*/
@import "block/titles.less";
/*9. services*/
@import "block/services.less";
/*10. testimonilas*/
@import "block/testimonials.less";