//compress: true

/*google foonts*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,600,600i,700,700i|Kanit:400,600,700&display=swap&subset=cyrillic,cyrillic-ext');
html{
  font-size: 15px;
}
body{
  font-family: @plex;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: @black;
  margin: 0;
  padding: 0;
  background-color: @white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
/*===================*/
/*helpers*/
@import "helpers.less";
/*vars*/
@import "vars.less";
/*===================*/
/*vendor*/
/*1. normalize css https://necolas.github.io/normalize.css/ */
@import "vendor/normalize.less";
/*2. waves__efect https://materializecss.com/waves.html */
@import "vendor/waves.less";
/*3. slick https://kenwheeler.github.io/slick/ */
@import "vendor/slick.less";
/*4. slick https://lokeshdhakar.com/projects/lightbox2/#getting-started */
@import "vendor/lightbox.less";
/*===================*/
/*main style block*/
/*1. container*/
@import "block/container.less";
/*2. progress__bar*/
@import "block/pr__bar.less";
/*3. header*/
@import "block/header.less";
/*4. nav*/
@import "block/nav.less";
/*5. intro*/
@import "block/intro.less";
/*6. btn*/
@import "block/btn.less";
/*7. about*/
@import "block/about.less";
/*8. about*/
@import "block/about__address.less";
/*9. about__address*/
@import "block/titles.less";
/*10. services*/
@import "block/services.less";
/*11. testimonilas*/
@import "block/testimonials.less";
/*12. portfolio*/
@import "block/portfolio.less";
/*13. counter*/
@import "block/counter.less";
/*14. expirience*/
@import "block/expirience.less";
/*15. blog*/
@import "block/blog.less";
/*16. contact*/
@import "block/contact.less";
/*17. footer*/
@import "block/footer.less";
/*16. back__top*/
@import "block/back__top.less";