//main: ../style.less
#about {
  position: relative;
  background-color: @white;
  z-index: 1;
}
.about__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  @media @notebook {
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.content__text {
  flex-basis: 30%;
  text-align: left;
  h3 {
    color: @blue;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    @media @mobile-sm {
      font-size: 1.8rem;
    }
  }
  h4 {
    color: @purple;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    @media @mobile-sm {
      font-size: 1.3rem;
    }
  }
  @media @notebook {
    -webkit-box-ordinal-group: 0;
    order: -1;
    flex-basis: 70%;
    margin-bottom: 1rem;
  }
  @media @mobile {
    flex-basis: 100%;
  }
}
.about__resume{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
}
.about__date{
  flex-basis: 60%;
}
.content__date {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  p {
    font-size: 1rem;
    color: @blue;
    font-weight: 700;
  }
  span {
    color: @blue;
    font-size: 0.9rem;
    font-weight: 400;  
  }
}
.content__icon{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  flex-basis: 35%;
  i{
    margin: 0.2rem 0.5rem;
    color: @blue;
    font-size: 1.5rem;
    -webkit-animation-name: iconZoom;
    animation-name: iconZoom;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  }
}
.byography___resume{
  margin-top: 1rem;
  font-size: 1rem;
  text-align: left;
  color: @blue;
  line-height: 2;  
}
.content__img {
  flex-basis: 40%;
  @media @notebook {
    -webkit-box-ordinal-group: 1;
    order: 0;
    flex-basis: 60%;
  }
  @media @mobile {
    flex-basis: 100%;
  }
}
.content__skils {
  flex-basis: 30%;
  @media @notebook {
    -webkit-box-ordinal-group: -1;
    order: -2;
    flex-basis: 70%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  @media @mobile {
    flex-basis: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.skil__bar {
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: @blue;
    margin-bottom: 0.4rem;
  }
  @media @tablet{
    margin-bottom: 1rem;
  }
}
.skillbar {
  width: 100%;
  height: 1rem;
  background-color: @red;
  border-radius: 8px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.skillbar-title {
  position: absolute;
  top: 6%;
  right: 2%;
  font-size: 1rem;
  color: @blue;
  text-transform: uppercase;
}
.skillbar-bar {
  border-radius: 8px;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(@purple), to(@purple-r));
  background: linear-gradient(to right, @purple, @purple-r);
}
@-webkit-keyframes iconZoom {
  0% {
    -webkit-transform: scale(0.7) translateY(0px);
    transform: scale(0.7) translateY(0px);
  }
  25% {
    -webkit-transform: scale(0.8) translateY(-1px);
    transform: scale(0.8) translateY(-1px);
  }
  50% {
    -webkit-transform: scale(0.9) translateY(-2px);
    transform: scale(0.9) translateY(-2px);
  }
  75% {
    -webkit-transform: scale(0.95) translateY(-3px);
    transform: scale(0.95) translateY(-3px);
  }
  100% {
    -webkit-transform: scale(1) translateY(-4px);
    transform: scale(1) translateY(-4px);
  }
}
@keyframes iconZoom {
  0% {
    -webkit-transform: scale(0.7) translateY(0px);
    transform: scale(0.7) translateY(0px);
  }
  25% {
    -webkit-transform: scale(0.8) translateY(-1px);
    transform: scale(0.8) translateY(-1px);
  }
  50% {
    -webkit-transform: scale(0.9) translateY(-2px);
    transform: scale(0.9) translateY(-2px);
  }
  75% {
    -webkit-transform: scale(0.95) translateY(-3px);
    transform: scale(0.95) translateY(-3px);
  }
  100% {
    -webkit-transform: scale(1) translateY(-4px);
    transform: scale(1) translateY(-4px);
  }
}
