//main: ../style.less
.btn{
  padding: 1.2rem 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(45deg, @red 33%, @purple 66%, @purple-r);
  color: @white;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.1rem;
  transition: box-shadow 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 0 20px @purple-r;
  }
}