//main: ../style.less
#experience {
  position: relative;
  z-index: -3;
  -webkit-animation-name: divBG;
  animation-name: divBG;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  padding-top: 6rem;
  padding-bottom: 6rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(@black, 0.2);
    z-index: -1;
  }
  @media @tablet {
    padding-top: 5em;
    padding-bottom: 5rem;
  }
  @media @mobile {
    padding-top: 4rem;
  }
  @media @mobile-sm {
    padding-top: 3rem;
  }
}
.expirience__content {
  margin-top: 1rem;
  width: 100%;
  @media @tablet {
    margin-top: 0.2rem;
  }
}
.expirience__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  @media @mobile {
    margin-bottom: 2rem;
  }
  @media @mobile-sm {
    margin-bottom: 1rem;
    flex-wrap: wrap;
    &:nth-child(1) {
      border-bottom: 2px solid @red;
      padding-bottom: 0.8rem;
    }
    &:nth-child(2) {
      border-bottom: 2px solid @red;
      padding-bottom: 0.8rem;
    }
    &:nth-child(3) {
      border-bottom: 2px solid @red;
      padding-bottom: 0.8rem;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.row__title {
  flex-basis: 40%;
  h4 {
    font-size: 1.3rem;
    color: @white;
    text-transform: uppercase;
    font-weight: 400;
    @media @mobile {
      font-size: 1rem;
    }
  }
  p {
    color: @white;
    font-size: 1rem;
    font-weight: 400;
    @media @mobile {
      font-size: 0.9rem;
    }
  }
  @media @mobile {
    flex-basis: 25%;
  }
  @media @mobile-sm {
    flex-basis: 100%;
  }
}
.row__line {
  width: 10px;
  height: 3rem;
  background-color: @gray;
  @media @mobile-sm {
    width: 5px;
    height: 2rem;
  }
}
.row__text {
  flex-basis: 50%;
  color: @white;
  font-size: 1.2rem;
  font-weight: 400;
  @media @mobile {
    flex-basis: 65%;
    font-size: 1.1rem;
  }
  @media @mobile-sm {
    flex-basis: 100%;
  }
}
@-webkit-keyframes divBG {
  0% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to right, @purple, @red);
  }
  25% {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to bottom, @purple, @red);
  }
  50% {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to left, @purple, @red);
  }
  75% {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to top, @purple, @red);
  }
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to right, @purple, @red);
  }
}
@keyframes divBG {
  0% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to right, @purple, @red);
  }
  25% {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to bottom, @purple, @red);
  }
  50% {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to left, @purple, @red);
  }
  75% {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to top, @purple, @red);
  }
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(@purple),
      to(@red)
    );
    background: linear-gradient(to right, @purple, @red);
  }
}
