//main: ../style.less
.services__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__collum {
  width: 32%;
  margin-bottom: 4rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  -webkit-transition: box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  div {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    -webkit-animation-name: divBG;
    animation-name: divBG;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 1rem;
    line-height: 85px;
    i {
      color: @white;
      font-size: 2rem;
    }
  }
  h5 {
    font-family: @kanit;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: @blue;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    @media @mobile-sm{
      font-size: 1.6rem;
    }
  }
  p {
    font-family: @kanit;
    font-size: 1.1rem;
    color: @gray-h;
    line-height: 25px;
    font-weight: 400;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    @media @mobile-sm{
      font-size: 0.9rem;
    }
  }
  &:hover {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    box-shadow: 30px 30px 30px @gray;
    background-color: @gray;
     h5 {
      color: @red;
    }
    p {
      color: @red;
    }
  }
  @media @tablet{
    width: 50%;
    margin-bottom: 2rem;
  }
  @media @mobile{
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@-webkit-keyframes divBG {
  0% {
    background-color: @purple;
  }
  25% {
    background-color: @purple-r;
  }
  50% {
    background-color: @red;
  }
  75% {
    background-color: @purple-r;
  }
  100% {
    background-color: @purple;
  }
}
@keyframes divBG {
  0% {
    background-color: @purple;
  }
  25% {
    background-color: @purple-r;
  }
  50% {
    background-color: @red;
  }
  75% {
    background-color: @purple-r;
  }
  100% {
    background-color: @purple;
  }
}
