//main: ../style.less
.testimonials-container {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.testimonials__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../img/testimonials/paralax_bg.jpg) no-repeat center;
  background-size: cover;
}
.testimonilas__content {
  position: absolute;
  top: -30%;
  left: 1%;
  right: 2%;
  bottom: 0;
  z-index: 3;
  h4 {
    font-family: @kanit;
    font-size: 3rem;
    text-transform: uppercase;
    color: @white;
    font-weight: 700;
  }
}
.testimonilas__slider {
  margin-top: 3rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  p {
    width: 50%;
    font-family: @kanit;
    font-size: 1.4rem;
    color: @white;
    font-style: italic;
    stroke-width: 400;
    strong {
      font-size: 3rem;
      &:first-child {
        margin-right: 0.6rem;
      }
      &:last-child {
        margin-left: 0.6rem;
        line-height: 0px;
        vertical-align: bottom;
      }
    }
  }
  img {
    border-radius: 50%;
    border: 8px solid @white;
  }
  &:focus {
    outline: none;
  }
}
.testimonilas__author {
  h5 {
    font-family: @kanit;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: @white;
    font-size: 2rem;
    font-weight: 700;
  }
  span {
    color: @purple;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
  }
}
